@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h><br />
</div>
<div class="text-center">
    <a href="https://docs.microsoft.com/aspnet/core">Documentação ASPNet Core</a>
</div>